<div id ="abhi">
<form #simpleForm="ngForm">
  First name: <input type="text" name="user" placeholder="enter the  first name" list="user">
  <datalist id="user">
    <option>Abhishek</option>
    <option>Ravi</option>
    <option>Sunil</option>
    </datalist>

  <br><br>
  Last name: <input type="text" name="user" placeholder="enter the last name" list="user1">
  <datalist id="user1">
    <option>singh</option>
    <option>kadapa</option>
    <option>kumar</option>
    </datalist>
  <br><br>
   Age: <input type="number" name="age" placeholder="enter the age">
  <br><br>
   Phone: <input type="number" name="number" placeholder="enter the Number">
  <br><br>
   Gender: <input type="radio" name="r1"  checked/>Male
  <input type="radio" name="r1"  />Female
  <input type="radio" name="r1"  />Other
  <br><br>
  <button id="singh">Sumit</button>
</form>
</div>